.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--page-gap);
  padding: 0 var(--page-padding-inline) var(--page-padding-bottom);
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: var(--page-gap);
}

